<!DOCTYPE html>
<html ng-app="leaveApp">
  <head>
    <title> Leave management System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
     <link rel="stylesheet" href="stylesheets/jquery-ui.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/home.js"></script>
	<script src="js/jquery.js"></script>
  <script src="js/jquery-ui.js"></script>
	
	
  </head>
  <body >
  
  	<div class="container header">
  		<img src="/images/logo3.png" style="margin-left: 13%;"><span style="border-left: 1px solid #AA9B9B;padding: 20px;"></span>
  		<h1 class="h1style">Leave Management System</h1>
  		<div style="margin-right: 1%;">
	  		<div class="hdrname"><a><%= userinfo.email %> </a></div>
	  		<div style="float:right" class="btn	logout"><a class="algout" href="/logout"><span class="glyphicon glyphicon-log-out">Logout</span></a></div>
  		</div>
	</div>
	
	<div class="container navleft" ng-controller="navController">
		<ul class="nav nav-pills nav-stacked navul">
		  <li class="active"><a href="#">Leave Details</a></li>
		  <li class="libgclr al"><a href="#">Apply Leave</a></li>
		  <li class="libgclr cl"><a href="#">Cancel Leave</a></li>
		  <li class="libgclr apl"><a href="#">Approve Leave</a></li>
		  <li class="libgclr ne"><a href="#">New Employee</a></li>
		</ul>
	</div>
	<div class="container navright">
	
			<div class= "newEmployee" style="display: none;" >
					<div ng-controller="newEmpController" >
						<div id="voice-box" style="display: none;">
							<p>
								<span id="statusMessage" > Employee Added Successfully...</span>
							</p>
						</div>
						<div class="highlight">
								<form name="myForm" id="myForm" class="form-horizontal" ng-submit="addEmployee(); myForm.$setPristine() " novalidate>
								
								<center><h2>Feed New Employee</h2></center>
								<div class="form-group" >
						  			<lable class="col-sm-4 control-label">EmployeeId</lable>
						  			<div class="col-sm-6"  ng-class="{ 'has-error' : myForm.employeeId.$invalid && !myForm.employeeId.$pristine }">
						  			<input type="text" class="form-control" ng-model="employeeId" name="employeeId" placeholder="EmployeeId" ng-pattern="/^[AIN0-9]+$/" required />
                                    <p ng-show="myForm.employeeId.$invalid && !myForm.employeeId.$pristine" class="help-block">Enter valid Employee ID(Ex:AIN001)</p>
						  			</div>
								</div><br>	
								
								<div class="form-group ">
						  			<lable class="col-sm-4 control-label">EmployeeName</lable>
						  			<div class="col-sm-6" ng-class="{ 'has-error' : myForm.employeeName.$invalid && !myForm.employeeName.$pristine }">
						  			<input type="text" class="form-control" ng-model="employeeName" name="employeeName" placeholder="Employee Name" ng-pattern="/^[a-zA-z]+$/" required>
                                    <p ng-show="myForm.employeeName.$invalid && !myForm.employeeName.$pristine" class="help-block">Enter valid Employee Name</p>
						  			</div>
								</div><br>
								<div class="form-group ">
						  			<lable class="col-sm-4 control-label">EmailId</lable>
						  			<div class="col-sm-6" ng-class="{ 'has-error' : myForm.email.$invalid && !myForm.email.$pristine }">
						  			<input type="email" class="form-control" ng-model="emailId" name="email" placeholder="Email Id" ng-pattern="/^[A-Za-z0-9._%+-]+@atmecs.com$/" required>
                                    <p ng-show="myForm.email.$invalid && !myForm.email.$pristine" class="help-block">Enter a valid email.(example@atmecs.com)</p>
						  			</div>
								</div><br>
								<div class="form-group ">
						  			<lable class="col-sm-4 control-label">Designation</lable>
						  			<div class="col-sm-6" ng-class="{ 'has-error' : myForm.designation.$invalid && !myForm.designation.$pristine }">
						  			<input type="text" class="form-control" ng-model="designation" name="designation"  placeholder="Designation" ng-pattern="/^[a-zA-z]+$/" required>
                                    <p ng-show="myForm.designation.$invalid && !myForm.designation.$pristine" class="help-block"> Enter valid Designation</p>
						  			</div>
								</div><br>
								<div class="form-group ">
						  			<lable class="col-sm-4 control-label">Total Leaves Applicable</lable>
						  			<div class="col-sm-6" ng-class="{ 'has-error' : myForm.totalLeavesApplicable.$invalid && !myForm.totalLeavesApplicable.$pristine }">
						  			<input type="number" class="form-control" ng-model="totalLeavesApplicable" name="totalLeavesApplicable" min="0" placeholder="Total leaves" ng-pattern="/^[0-9]+$/" required>
                                    <p ng-show="myForm.totalLeavesApplicable.$invalid && !myForm.totalLeavesApplicable.$pristine" class="help-block"> Enter valid TotalLeavesApplicable </p>
						  			</div>
								</div><br>
								<div class="form-group ">
						  			<lable class="col-sm-4 control-label">manager EmailId</lable>
						  			<div class="col-sm-6" ng-class="{ 'has-error' : myForm.managerEmailId.$invalid && !myForm.managerEmailId.$pristine }">
						  			<input type="email" class="form-control" ng-model="managerEmailId" name="managerEmailId"  placeholder="manager EmailId" ng-pattern="/^[A-Za-z0-9._%+-]+@atmecs.com$/"required>
						  			<p ng-show="myForm.managerEmailId.$invalid && !myForm.managerEmailId.$pristine" class="help-block"> manager EmailId is required.</p>
						  			</div>
								</div><br>
						        <button class="btn btn-primary" ng-disabled="myForm.$invalid" style="margin-left: 46%;">Addemp</button>
					    	
					    </form>
					    </div>
				    </div>
		    </div>
		    <div class="applayLeave" style="display: none;" >
		    		<div class="highlight">
		    		</div>
		    
		    </div>
	</div>
	<div class="container footer">
	
	</div>
  </body>
  </html>